* {
    margin: 0;
    pad: 0;
    box-sizing: border-box;
}

html,
body,
#ac_game_12345678 {
    height: 100%;
}


.ac-game-menu,
.ac-game-settings {
    width: 100%;
    height: 100%;
    background-image: url("/static/image/menu/bgc.gif");
    background-size: 100% 100%;
}


.ac-game-menu-filed {
    width: 20%;
    position: relative;
    top: 20%;
    left: 20%;
    user-select: none;
}

.ac-game-menu-filed-item {
    color: white;
    height: 10vh;
    font-size: 5vh;
    width: 18vw;
    font-style: italic;
    padding: 1.5vh;
    text-align: center;
    background-color: rgba(39, 21, 28, 0.6);
    border: 10px;
    letter-spacing: 0.5vw;
    margin-bottom: 20px;
    cursor: pointer;
}

.ac-game-menu-filed-item:hover {
    transform: scale(1.2);
    transition: all 0.2s;
}

.ac-game-playground {
    user-select: none;
    width: 100%;
    height: 100%;
    background-color: grey;
}

.ac-game-playground > canvas {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.ac-game-settings-title {
    color: white;
    font-size: 3vh;
    text-align: center;
    height: 7vh;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.ac-game-settings-login {
    height: 49vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(24, 27, 27, 0.7);
    border-radius: 5px;
}

.ac-game-settings-register {
    border-radius: 5px;
    height: 57vh;
    width: 20vw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(24, 27, 27, 0.7);
}

.ac-game-settings-username {

    margin-top: 4vh;
    width: 100%;
    height: 5vh;
    text-align: center;
    margin-bottom: 3vh;
}

.ac-game-settings-username>input {
    border-radius: 5px;
    outline: none;
    width: 80%;
    height: 100%;
    font-size: 2.5vh;
}

.ac-game-settings-password {

    width: 100%;
    height: 5vh;
    text-align: center;
    margin-bottom: 3vh;
}

.ac-game-settings-password>input {
    border-radius: 5px;
    outline: none;
    width: 80%;
    height: 100%;
    font-size: 2.5vh;
}

.ac-game-settings-submit {
    width: 100%;
    height: 5vh;
    text-align: center;
    margin-bottom: 1vh;
}

.ac-game-settings-submit>button {
    font-size: 2.5vh;
    width: 80%;
    height: 100%;
    background-color: #6AC259;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 4vh;
}

.ac-game-settings-others {
    font-size: 2vh;
    width: 80%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.ac-game-settings-error {
    color: red;
}

.ac-game-settings-option {
    color: white;
    cursor: pointer;
}

.ac-game-settings-acwinglogin {
    text-align: center;
}

.ac-game-settings-acwinglogin>img {
    cursor: pointer;
}


.ac-game-settings-acwinglogin>div {
    text-align: center;
    color: white;
    font-size: 1.8vh;
}


